/* styles.css */

/* Add styles for the table */
table {
    border: 1px solid blue;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  
  table tr:hover {
    background-color: lightblue;
  }
  
  table th, table td {
    border: 1px solid blue;
    padding: 8px;
  }

  /* Center the buttons in the "Actions" column */
table td.actions {
    text-align: center;
  }

  /* Center the forms and table horizontally */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Apply styling to the form container */
  .form-container {
    margin-bottom: 20px;
  }
  
  
  